body {
  background-color: #f5f5f5;
  background-image: url("blue-table.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 880px) {
  body {
    background-size: auto 100%;  
  }
}

.square-card.mdl-card {
  background-color: transparent;
  width: 250px;
  min-width: 250px;
  height: 250px;
}

#catering .mdl-card__title {
  flex-direction: column;
  justify-content: flex-start;
  
  webkit-align-items: flex-start;
  align-items: flex-start;
}
#catering .mdl-card__title-text {
  align-self: auto;
  webkit-align-self: auto;
}

/*
 *1 col 564px
 *2 col 830px
*/
@media (max-width: 830px) {
  .card-wrapper {
    margin: 0 auto;
    width: 266px;
  }
}

/*Slide out calendar widget*/
div.calendar {
  width: 800px;
  text-align: center;
}
div.calendar div {
  height: 0px;
  overflow: hidden;
}
input.toggle {
  display: none;
}
input.toggle ~ div {
  height: 0px;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
}
input.toggle:checked ~div {
  height: 400px;
}
