body {
  background: #ffffff url("cubes.jpg") fixed;
  background-size: 500px;
}

.square-card.mdl-card {
  width: 250px;
  height: 250px;
}


#catering .mdl-card__title {
  flex-direction: column;
  justify-content: flex-start;
  
  webkit-align-items: flex-start;
  align-items: flex-start;
}
#catering .mdl-card__title-text {
  align-self: auto;
  webkit-align-self: auto;
  
}

