body {
  background: #ffffff url("cubes.jpg") fixed;
  background-size: 1500px;
}

.square-card.mdl-card {
  width: 250px;
  height: 250px;
}

#catering .mdl-card__title {
  flex-direction: column;
  justify-content: flex-start;
  
  webkit-align-items: flex-start;
  align-items: flex-start;
}
#catering .mdl-card__title-text {
  align-self: auto;
  webkit-align-self: auto;
}

#catering-page {
  padding: 0;
}
/*Slide out calendar widget*/
div.calendar {
  width: 800px;
  text-align: center;
}
div.calendar div {
  height: 0px;
  overflow: hidden;
}
input.toggle {
  display: none;
}
input.toggle ~ div {
  height: 0px;
  overflow: hidden;
  transition: 1s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
}
input.toggle:checked ~div {
  height: 400px;
}
