.close-what-is-modal {
  float:right;
}

#catering .what-is-background {
  background: url("/fullband.jpg");
  background-size: 300px;
  background-repeat: no-repeat;
  height: 60px;
  color: white;
  padding-top: 70px;
  padding-left: 32px;
}
