.card-bubble {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
}

#catering .mdl-card__title {
  min-height: 75px;
}

#catering .mdl-card__title {
  background-color: white;
}

#catering .mdl-card__actions {
  overflow: hidden;
}

#catering .mdl-card {
  /*overflow: visible;*/
}

.actions {
  min-height: 175px;
  transition: 0.5s ease;
}

.button-row {
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
}

.action-cell {
  width: 40%;  
  display: inline-block;
  vertical-align: top;   
  text-align:center;
}

.face-cell{
  width: 30%;  
  display: inline-block;
  vertical-align: top;   
  text-align:center;
}
.hide {
  visibility: hidden;
}
.up {
  transform: translateY(-175px);
}

#catering .repositionable {
  transition: transform 1s, box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  transition-property: transform, box-shadow, background-color, color;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: initial, initial, initial, initial;
} 
.reposition-insert {
  transform: translateY(98px) translateX(-124px);
}
.reposition-set {
  transform: translateY(98px) translateX(-26px);
}

#catering .face-selector .mdl-cell {
  margin: 0;
}

.clickable {
  cursor: pointer;
}
