#catering .user {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  display: inline-block;
}

#catering .thomas {
  background-image: URL("thomas.jpg") !important;
}

#catering .ian {
  background-image: URL("ian.jpg") !important;
}

#catering .alex {
 background-image: URL("alex.jpg") !important;
}

#catering .jeff {
  background-image: URL("jeff.jpg") !important;
}

#catering .adriana {
  background-image: URL("adriana.jpg") !important;
}

#catering .dane {
  background-image: URL("dane.jpg") !important;
}

.catering-swap {
  right: 10px;
  bottom: 10px;
}

.material-icons.md-18 { font-size: 18px !important; }
.material-icons.md-24 { font-size: 24px !important; }
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 36px !important; }
